 body {
background: black;
}
table, tr, td {
border-collapse: collapse;
border: none;
}
table {
margin: 20px auto;
}
td {
height: 15px;
width: 15px;
min-height: 15px;
min-width: 15px;
}
.air {
background: hsl(0, 79%, 5%); 
}
.wall {
background: hsl(210, 49%, 6.5%);
}
.coin {
background: hsl(60, 75%, 50%);
}
.prop {
background: #000;
}
.door {
background: #994d00;
}
.player {
outline: 3px solid #e60000;
background: #e60000;
z-index: 0;
}
.light:not(.player) {
background: hsl(0, 79%, 20%);
}
.hidden {
	display: none;
}