body {
background: black;
}
table, tr, td {
border-collapse: collapse;
border: none;
}
table {
margin: 20px auto;
}
svg {
width: 0;
height: 0;
position: absolute;
}
td {
height: 15px;
width: 15px;
min-height: 15px;
min-width: 15px;
}
.air {
background: hsl(0, 85%, 5%); 
}
.wall {
background: hsl(210, 49%, 4%);
}
.coin {
background: hsl(60, 75%, 47%);
}
.door {
background: hsl(15, 100%, 8%);
}
.door.light {
background: hsl(30, 100%, 30%);
}
.player1 {
outline: 3px solid hsl(0, 80%, 35%);
background: hsl(0, 70%, 48%);
}
.player2 {
outline: 3px solid hsl(240, 90%, 25%);
background: hsl(240, 90%, 40%);
}
.player3 {
outline: 3px solid hsl(120, 100%, 25%);
background: hsl(120, 100%, 50%);
}
.player4 {
outline: 3px solid hsl(30, 100%, 30%);
background: hsl(30, 100%, 50%);
}
.light:not(.door) {
background: hsl(0, 79%, 18%);
}
.madness {
filter: url(#noise);
}