body {
	background: #444;
}
table, tr, td {
	border-collapse: collapse;
	border: none;
	-moz-user-select: none;
}
table {
	margin: 20px auto;
}
td {
	height: 15px;
	width: 15px;
	min-height: 15px;
	min-width: 15px;
}
button, input {
	padding: 15px;
	text-align: center;
	border: 3px solid lightcoral;
	font-weight: bold;
	max-height: 53px;
	transition: all 1s;
}
button {
	background: #ec5f5f;
	color: white;
}
#id {
	max-width: 53px;
}
input {
	background: #f7bbbb;
	color: #ec5f5f;
}
input:focus {
	background: hsl(0, 76%, 93%);
}
.settings {
	width: 255px;
	margin: 20vh auto;
}
.air {
	background: hsl(0, 60%, 13%);
}
.wall {
	background: hsl(0, 50%, 35%);
}
.coin {
	background: hsl(60, 70%, 60%);
}
.door {
	background:  hsl(35, 70%, 45%);
}
button:hover {
	background: lightcoral;
	color: black;
}
.player {
	outline: 3px solid lightblue;
	background: lightblue;
	z-index: 0;
	opacity: 0.8;
}
#export {
	display: none;
}
td:hover {
	z-index: -1;
}
.air:hover {
	background: #521414;
}
.wall:hover {
	background: #ac3939;
}
.coin:hover {
	background: #e8e87d;
}
.door:hover {
	background: #ff8000;
}